body {
    margin: 0;
}

/* HOME PAGE WRAPPER */
.home-page {
    display: flex;
    flex-direction: column;
}

/* HERO */
.hero {
    height: 60vh;
    background-image: url("./assets/img/hero.jpg");
    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}


.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
}

.hero-content {
    position: relative;
    z-index: 1;
    text-align: center;
    color: white;
}

.hero-content p {
    max-width: 66ch;
    margin: 0 auto;
}

/* BELOW HERO */
.home-page-content {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 50px;
}

/* CARDS */
.home-card {
    background-color: #f8f5f2;
    border-radius: 10px;
    padding: 20px;
    width: 220px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}


/* MENU */

.menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
}

.menu-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.menu-header p {
    inline-size: 66ch;

}

.menu-category {
    padding: 25px 50px;
}

.menu-items {
    display: flex; 
    align-items: center;
    gap: 20px;
}

.menu-card {
    background-color: #f8f5f2;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    border-radius: 10px;
    overflow: hidden;
    max-height: 300px;
    min-width: 420px;
}

.menu-card img {
    height: 200px;
    width: 420px;
}